.page-header {
  color: @text-color;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ebebeb;

  &__contacts{
    display:none;
  }
  &__btn{
    display:none;
  }
  &__inner{
    margin: 0;
  }
}
